<!--
  Step 1: This page must allow the user to edit an existing resource.
-->

<%- include ('../partials/header') %>

<div id="editPage"class="container my-5" data-edit="editFlag">
    <header>
        <h1>Edit: <%= formData.name %></h1>
    </header>
    <hr>

    <div>
        <%- include ('./_form', { actionPath: '/characters/update'}) %> 
    </div>
</div>

<%- include ('../partials/footer') %>